.image_reveal{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: clip;
}

ul{
    border: 1px solid white;
}

li{
    width: 600px;
    padding: 20px 0px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 60px;

    &:not(:last-child){
        border-bottom: 1px solid white;
    }
}
.hovered_image{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 5%;
    top: 0;
    transition:opacity 200ms ease-in-out;

}